.homepage-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-title {
    font-size: 124px;
    font-stretch: expanded; /*Need a font where this value actually applies*/
    letter-spacing: 50px;
    text-indent: 50px;
    text-align: center;
    margin-bottom: 120px;
}

.homepage-collage-container {
    height: 400px;
    width: 350px;
    position: relative;
}

.homepage-center-piece {
    background-color: gray;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.homepage-photo-1 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 140px;
    width: 100px;
    opacity: 80%;
    top: -10%;
    left: -20%;
}

.homepage-photo-2 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 100px;
    width: 200px;
    opacity: 70%;
    top: 5%;
    left: -50%;
}

.homepage-photo-3 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 130px;
    width: 200px;
    opacity: 90%;
    top: 85%;
    left: -40%;
}

.homepage-photo-4 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 140px;
    width: 90px;
    opacity: 60%;
    top: 100%;
    left: -23%;
}

.homepage-photo-5 {
    position: absolute;
    z-index: 0;
    background-color: #737373;
    height: 80px;
    width: 90px;
    opacity: 80%;
    top: 115%;
    left: 15%;    
}

.homepage-photo-6 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 60px;
    width: 80px;
    opacity: 60%;
    top: 125%;
    left: 25%;    
}

.homepage-photo-7 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 180px;
    width: 160px;
    opacity: 60%;
    top: 90%;
    left: 90%;       
}

.homepage-photo-8 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 80px;
    width: 140px;
    opacity: 60%;
    top: 55%;
    left: 110%;       
}

.homepage-photo-9 {
    position: absolute;
    z-index: 0;
    background-color: #595959;
    height: 100px;
    width: 200px;
    opacity: 60%;
    top: 27%;
    left: 110%;    
}

.homepage-photo-10 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 80px;
    width: 140px;
    opacity: 60%;
    top: 5%;
    left: 80%; 
}

.homepage-photo-11 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 140px;
    width: 95px;
    opacity: 60%;
    top: -26%;
    left: 60%; 
}

.homepage-photo-12 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 40px;
    width: 95px;
    opacity: 60%;
    top: -25%;
    left: 98%;     
}

.homepage-photo-13 {
    position: absolute;
    z-index: 0;
    background-color: #b0b0b0;
    height: 40px;
    width: 95px;
    opacity: 60%;
    top: -20%;
    left: 104%;
}