.timeline-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%,transparent 100%);
    mask-image: linear-gradient(to bottom,rgba(0, 0, 0, 1) 80%,transparent 100%);       
}

.timeline-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -6%;
}

.timeline-line {
    height: 11000px;
    width: 1px;
    background-color: black;
    margin: 40px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    position: relative;
}

.card-dot {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: all .1s; 
    z-index: 3;
}

.card-line {
    width: 70px;
    height: 1px;
    background-color: black;
    position: absolute;
}

.card-content {
    width: 470px;
    height: 300px;
    border: solid black 1px;
    position: absolute;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
    box-sizing: border-box;
}

.card-cover {
    height: 315px;
    width: 545px;
    position: absolute;
    z-index: 2;
    background-color: white;
    transition: left 2s ease;
}

.card-title {
    margin-top: 8px;
    padding-left: 8px;
}

.card-date {
    padding-left: 8px;
}